.unity-button {
    color: rgba(255, 255, 255, 255);
    background-color: rgba(255, 0, 0, 255);
    font-size: 31px;
    -unity-font-style: bold;
}

.unity-button:hover {
    background-color: rgba(246, 255, 182, 255);
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 1s;
}
